@use '../../App.scss';

.stats {
  grid-column: 6 / 7;
  grid-row: 2 / end;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;

  &__box {
    display: flex;
    align-items: center;
  }

  &__icon {
    width: 6rem;
    height: 6rem;
    padding: 2rem;
    border-radius: 0.6rem;
    display: grid;
    place-items: center;
    position: relative;
    overflow: hidden;

    margin-right: 2rem;

    &::after {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      opacity: 10%;
    }

    &Energy {
      &::after {
        background-color: App.$color-red;
      }
    }

    &Chicken {
      &::after {
        background-color: #4ab8ff;
      }
    }

    &Apple {
      &::after {
        background-color: #fdcc0c;
      }
    }

    &Burger {
      &::after {
        background-color: #fd5181;
      }
    }
  }

  &__numbers {
    div:first-of-type {
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.6;
    }
    div:last-of-type {
      font-size: 1.4rem;
      color: App.$color-grey;
    }
  }
}
